body {
    color: red;
    background-color: black;
}

section {
    background-color: purple;
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}
.chamad-texto {
    margin-right: 10%;
}